@import url("https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("reset.css");

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.header {

	font-family: "DM Sans", serif;
	font-size: 80px;
	color: rgba(9, 39, 39, 0.879);
	background: linear-gradient(90deg, rgba(237, 146, 9, 1) 0%, rgba(16, 92, 26, 0.9865196078431373) 49%, rgba(235, 147, 15, 0.7764355742296919) 100%);
	min-height: 200px;
	text-align: center;
	padding-top: 20px;
	font-weight: 700;
	text-shadow: 10px 5px 5px rgb(228, 142, 13)
}

.img-title {
	width: 180px;
	height: 180px;

}


.main {
	max-width: 100%;
	min-height: 800px;
}

.main__container {
	font-family: "Epilogue", sans-serif;
	margin: 0 auto;

	min-width: 700px;
	min-height: 1000px;
	position: relative;
}
.main__container {
	animation-name:fon;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.text{
	font-family: "DMSans", sans-serif;
	color: rgb(173, 12, 12);
	border-radius:30px;
   position: absolute;
	background-color: rgba(55, 115, 236, 0.164);
   top: -200px;
   left: 440px;
	width: 400px;
	height: 150px;
	padding: 5px;
	text-align: center;
	font-size: 40px;	
}
.text{
	animation-name:text;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}



.blocks {

	position: absolute;
	left: 200px;
	top: 250px;
	z-index: 2;
}

.car {
	position: relative;
}




.car {
	animation-name: move;
	animation-duration: 20s;
	animation-timing-function: linear;
}

.car-center {
	perspective: 300px;
	perspective-origin: right;
}



.car-center__top {
	background: rgba(43, 100, 230, 1);
	width: 270px;
	height: 50px;
	position: absolute;
	left: 300px;
	top: 5px;
	transform: rotateX(30deg);
	border-radius: 86% 14% 1% 99% / 98% 32% 68% 2%;
}

.car-center__block {
	background-color: rgba(43, 100, 230, 1);
	width: 250px;
	height: 220px;
	z-index: 3;
	position: absolute;
	top: 50px;
	left: 298px;
	border-radius: 30px 0 0 0;

}

.block-car__window {
	background: url("../img/photo.png") center no-repeat;
	background-size: 180px;
	width: 175px;
	height: 150px;
	z-index: 5;
	border-radius: 20%;
	position: absolute;
	top: 20px;
	left: 45px;
	border-color: azure;
	border: 3px;
}
.block-car__window { 
	animation-name: window;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

}
.block-car__door {
	background: rgba(43, 100, 230, 1);
	width: 202px;
	height: 340px;
	z-index: 4;
	position: absolute;
	top: 10px;
	left: 30px;
	border-radius: 10%;

	border: 3px solid rgb(138, 227, 227);

}

.block-car__handle {
	width: 20px;
	height: 40px;
	z-index: 5;
	position: absolute;
	top: 190px;
	left: 200px;
	border-radius: 40%;
	background-color: black;

}

.car-center__right {
	background: rgb(21, 7, 171);
	width: 60px;
	height: 220px;
	position: absolute;
	left: 548px;
	top: 34px;
	border-radius: 20px 70px 10px 0;
	transform: skew(0deg, -15deg);
}


.car-front {
	perspective: 100px;
	transform-origin: right;
}

.car-front__top {
	width: 200px;
	height: 20px;
	position: absolute;
	top: 230px;
	left: 110px;
	background: rgb(7, 41, 133);

	border-radius: 70px 70px 0 20px;

}

.car-front__center {

	background-color: rgba(43, 100, 230, 1);
	width: 300px;
	height: 150px;
	z-index: 3;
	position: absolute;
	top: 250px;
	left: 100px;
	border-radius: 20px 0 0 20px;

}

.car-front__lamp {
	background-color: yellow;
	width: 40px;
	height: 40px;
	z-index: 4;
	position: absolute;
	top: 250px;
	left: 90px;
	border-radius: 50% 0 10% 50%;

}

.car-trunk {
	perspective: 100px;
	transform-origin: right;
	position: relative;

}

.img-1 {
	width: 350px;
	height: 350px;
	position: absolute;
	z-index: 3;
	top: 1px;
	left: 600px;

}

.img-1 {
	animation-name: pumpkin;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.img-tree {
	width: 420px;
	height: 280px;
	position: absolute;
	z-index: 3;
	top: 1px;
	left: 600px;
	border-radius:50%;

}

.img-tree {

	animation-name: tree;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

}

.car-trunk__top {
	background: rgb(83, 63, 21);
	width: 430px;
	height: 30px;
	transform: rotateX(20deg);
	position: absolute;
	top: 220px;
	left: 550px;
	border-radius: 70% 10px 30px;
}

.car-trunk__center {
	background: rgba(43, 100, 230, 1);
	width: 475px;
	height: 150px;
	z-index: 3;
	position: absolute;
	top: 250px;
	left: 531px;
	border-radius: 0 2px 20px 10px;

}

.car-trunk__lamp {
	background: yellow;
	width: 45px;
	height: 45px;
	z-index: 4;
	position: absolute;
	top: 80px;
	left: 450px;
	border-radius: 10% 50% 50% 0;

}

.wheel-1 {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: black;
	z-index: 4;
	position: absolute;
	top: 300px;
	left: 160px;
	border: 20px dashed rgb(67, 67, 67);
}

.wheel-1 {
	animation-name: rotate;
	animation-duration: 20s;
	animation-timing-function: linear;
}

.wheel-1::after {
	content: "";
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: rgba(43, 100, 230, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wheel-2 {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: black;
	z-index: 4;
	position: absolute;
	top: 300px;
	left: 720px;
	border: 20px dashed rgb(67, 67, 67);
}

.wheel-2::after {
	content: "";
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: rgba(43, 100, 230, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wheel-2 {
	animation-name: rotate;
	animation-duration: 20s;
	animation-timing-function: linear;
}

.lain {
	position: absolute;
	width: 910px;
	height: 30px;
	background-color: black;
	border-radius: 30px;
	top: 380px;
	left: 100px;
	z-index: 3;
}

.item1 {
	position: absolute;

	width: 300px;
	height: 130px;
	top: 280px;
	left: 110px;
	border-radius: 50% 50% 0 0;
	background: radial-gradient(circle, rgba(27, 37, 87, 1) 35%, rgba(43, 100, 230, 1) 100%);
}

.item2 {
	position: absolute;

	width: 300px;
	height: 130px;
	top: 280px;
	left: 670px;
	border-radius: 50% 50% 0 0;
	background: radial-gradient(circle, rgba(27, 37, 87, 1) 35%, rgba(43, 100, 230, 1) 100%);
}


.footer {
	font-family: "DM Sans", serif;

	background:linear-gradient(174deg, rgba(99,142,172,0.9473039215686274) 24%, rgba(15,24,51,0.8352591036414566) 55%);

	padding-top: 40px;
	padding-bottom: 10px;
	min-height: 200px;
	position: relative;

}

.footer span {
	font-size: 80px;
	color: rgb(9, 39, 39);
	text-align: center;
	font-weight: 700;
	text-shadow: 5px 5px 5px rgb(34, 3, 107);
	display: block;
}
@keyframes move {
	0% {
		left: 1000px;
	}

	100% {
		left: -00px;

	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-1360deg);
	}
}

@keyframes pumpkin {
	0% {
		transform: scale3d(2, 2, 2);
	}

	100% {
		transform: scale3d(0, 0, 0);
	}
}

@keyframes tree {
	
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	
	100%{
		transform: scale(1);
		
	}
}
@keyframes window{
	0%{
		background: url("../img/photo.png") center no-repeat;
background-size: 170px;
	}
	78%{
		background: url("../img/photo.png") center no-repeat;
background-size: 170px;
	}
	80%{
	background: url("../img/santa.jpg") center no-repeat;
	}
	100%{
		background: url("../img/santa.jpg") center no-repeat;
		}
}
@keyframes fon{
	0%{
		background: url("../img/fon-1.jpg") 0 0 /cover no-repeat;
	}
	60%{
		background: url("../img/fon-1.jpg") 0 0 /cover no-repeat;
	}
	80%{
		background: url("../img/fon-2.jpg") 0 0 /cover no-repeat;
	}
	100%{
		background: url("../img/fon-2.jpg") 0 0 /cover no-repeat;
	}
}
@keyframes text{
	0% {
		left: 1000px;
	}
	50% {
		left:500px;
	}
	100%{
		left: 650px;
	}
}


